*.suo
*.user
[Tt]humbs.db
.vs/
#packages/
KontinuityCRM/KontinuityCRM.csproj.user
KontinuityCRM/bin/KontinuityCRM.pdb
KontinuityCRM/bin/KontinuityCRM.dll
KontinuityCRM/App_Data/KontinuityCRM.XML
KontinuityCRM/bin/KontinuityCRM.XML
KontinuityCRM/bin/EntityFramework.xml
KontinuityCRM/bin/EntityFramework.SqlServer.xml
KontinuityCRM/bin/KontinuityCRM.dll.config
KontinuityCRM/obj/
KontinuityCRM.Tests/obj/
KontinuityCRM.Tests/bin/
KontinuityCRM/TestResults/
KontinuityCRM/Web.config
KontinuityCRM/Content/assets/js/jquery.nestable.js
KontinuityCRM/Content/assets/js/jquery.nestable.js
KontinuityCRM/Helpers/ScheduledTasks/JobScheduler.cs
/KontinuityCRM/Models/BlackList.cs
/KontinuityCRM/Models/UserGroup.cs
/KontinuityCRM/Models/UserGroupsInRoles.cs
/KontinuityCRM/Models/Gateways/AuthorizeNET.cs
/KontinuityCRM/Controllers/BlacklistController.cs
*.dll
*.xml
*.pdb
KontinuityCRM/logs/archive/logfile_2016-11-13.00.log
*.log
KontinuityCRM/logs/archive/logfile_2016-11-18.00.log
KontinuityCRM/logs/logfile.txt
KontinuityCRM/logs/logfile.txt
KontinuityCRM/logs/logfile.txt
KontinuityCRM/Web.config
KontinuityCRM/Web.config
*.txt
KontinuityCRM/logs/logfile.txt
*.txt
