@model KontinuityCRM.Models.BlackList

<div class="form-group">
    @Html.LabelFor(model => model.CreditCard, new { @class = "col-sm-3 control-label no-padding-right" })
    <div class="col-sm-9">
        @Html.TextBoxFor(model => model.CreditCard, new { @class = "col-xs-10 col-sm-5", @placeholder = "Card Number" })
        @Html.ValidationMessageFor(model => model.CreditCard)
    </div>
</div>
