@{
    ViewBag.Title = "Authentication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />

<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                <a href="/Help">Help Page Home</a>
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">

        <h1>API Authentication</h1>
    </section>
    <div>

        <h3>Request Header</h3>

        <div>
            <h4 class="sample-header">application/json, text/json</h4>
            <div class="sample-content">
                <span><b>Sample:</b></span>
                <pre class="wrapped">Content-Type: application/json<br>APIKey: 324B95C6-FCE7-4112-839B-6A4F91D2D6E9</pre>
            </div>
        </div>

        <div>
            <h4 class="sample-header">application/x-www-form-urlencoded</h4>
            <div class="sample-content">
                <span><b>Sample:</b></span>
                <pre class="wrapped">Content-Type: application/x-www-form-urlencoded<br/>APIKey: 324B95C6-FCE7-4112-839B-6A4F91D2D6E9</pre>
            </div>
        </div>

    </div>
</div>



        




