<?xml version="1.0" ?>
 <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 <targets async="true">
 <!-- Log in a separate thread, possibly queueing up to 5000 messages. - ${logger} When the queue overflows, discard any extra messages-->
   <target xsi:type="File" name="default" layout="${longdate} - [${level:uppercase=true}]: ${message} ${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" 
           fileName="${basedir}/logs/logfile.txt" keepFileOpen="false" 
           archiveFileName="${basedir}/logs/archive/logfile_${shortdate}.{##}.log"
            archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" />
  <!--<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
  <target xsi:type="File" fileName="${basedir}/logs/${level}.txt" /></target>-->
 </targets>
<rules>
<logger name="*" writeTo="default" minlevel="Debug" maxlevel="Error"/>
</rules>
</nlog>